body {
    background-color: #3fb0e0;   
     text-align: center;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.paragraph {color: rgb(11, 9, 113);}
.notes {color: aliceblue;}
.extra {
    color: rgb(92, 107, 190);
    font-size: 12px;
}

.leftmenu {
    text-align: left;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
}

#viz1749939493520 {
    max-width: 800px;
    margin: 0 auto;
    overflow-x: auto;
}

.no-click {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: inherit; /* keeps it consistent with other text */
}

.italic {font-style: italic;}
.bold {font-weight: bold;}

.home-link {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #1c6ea4;
    padding: 8px 12px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease;
}

.home-link:hover {
    background-color: #155a8a;
}

.back-to-top {
    color: #070b0b;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
}

.back-to-top:hover {
    text-decoration: underline;
    color: #ffcc00;
}

/* Youtube Video */
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin: 20px auto;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*Riddle Game*/
#riddle-generator button:hover {
  background-color: #3fb0e0 !important;
  color: white !important;
}

.riddle-link {
  position: absolute;
  top: 20px;
  right: 20px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background-color: #1c6ea4;
  padding: 8px 12px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  transition: background-color 0.3s ease;
}

.riddle-link:hover {
  background-color: #155a8a;
}

/*Link to riddle game in top right corner of 14ers page*/
.riddle-link {
    position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #1c6ea4;
    padding: 8px 12px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease;
}

.riddle-link:hover {
    background-color: #155a8a;
}

body {
    position: relative;
}
